.sidenav
  ul.clearfix
    li
      a(href='#wraper00') 活动简介
    //li
    //  a(href='#wraper01') 东南亚最高减2000
    //li
    //  a(href='#wraper02') 日韩最高减2000
    li
      a(href='#wraper03') 欧洲立减优惠
    li
      a(href='#wraper04') 澳新立减优惠
    li
      a(href='#wraper05') 我要办卡
    li
      a(href='#wraper06') 活动规则
    li(style="background-image: none;")
      a(href='#wraper07') 游记攻略






















