ul.con.jchdCon.clearfix
  li
    a(href='http://activity.aoyou.com/hd/chaozhishewan/', target='_blank')
      img(src=publicsrc+'images/pic-suprise1.jpg')
  li
    a(href='http://activity.aoyou.com/hd/wanjia/', target='_blank')
      img(src=publicsrc+'images/pic-suprise2.jpg')
  li
    a(href='http://activity.aoyou.com/hd/xyyh/', target='_blank')
      img(src=publicsrc+'images/pic-suprise3.jpg')
  li(style="padding-right:0;")
    a(href='http://activity.aoyou.com/hd/gdyh/', target='_blank')
      img(src=publicsrc+'images/pic-suprise4.jpg')
