li.itemfour
  a.fl(href='', target='_blank')
    span.corner
    img(src=publicsrc+'?imageView2/2/w/320/h/230/')
    p 出发日期：2016-12-04,
  .fr
    h3
      a(href='', target='_blank', title='') 皇家加勒比邮轮“海洋量子号”上海长崎釜山上海5晚6天
    ul
      li 海洋量子号——全球邮轮史上的又一次重大飞跃！
    .clearfix
      p.price
        span ￥
        | 3699
        b 起
      a.reserve-btn(href='', target='_blank') 立即抢购
