doctype html
html
  head
    - if(publicsrc==undefined)publicsrc = ''
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    title 上海出发周边踏青游,春季踏青旅游,上海周边一日游,报价-中青旅遨游网
    meta(name="Keywords",content="上海春季踏青,踏青一日游报价,上海周边游,周边一日游,周边游报价")
    meta(name="Description",content="上海春季踏青,踏青一日游报价,上海周边游,周边一日游,周边游报价")
    link(href='http://webresource5.aoyou.com/css/head/index.css', rel='stylesheet', type='text/css')
    link(href=publicsrc+'css/main.css', rel='stylesheet', type='text/css')
  body#body
    .header
    include banner
    include wraper
    .foot.clearfix
    script(src='http://webresource5.aoyou.com/js/common/jquery-1.8.3.min.js', type='text/javascript', charset='utf-8')
    script(src='http://webresource5.aoyou.com/js/common/jquery.cookie.js', type='text/javascript', charset='utf-8')
    script(src='http://webresource5.aoyou.com/js/common/aoyoutoolbox-min.js', type='text/javascript', charset='utf-8')
    <!--[if IE 6]>
    <script src="http://webresource5.aoyou.com/js/index/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">DD_belatedPNG.fix('div, img, p, ul, li, a, span');</script>
    <![endif]-->
    script(src=publicsrc+'js/index.js', type='text/javascript', charset='utf-8')
