ul.city-nav-bank.clearfix#city-nav-back
  li.original(style="margin-left:60px;",data-city="1") 北京
  li.original(data-city="11") 天津
  li.original(data-city="1183") 重庆
  li.original(data-city="210") 上海
  li.original(data-city="20") 河北
  li.original(data-city="838") 广东
  li.original(data-city="102") 山西
  li.original(data-city="301") 浙江
  li.original(data-city="222") 江苏
  li.original(data-city="489") 江西
  li.original(data-city="792") 湖南
  li.original(data-city="138") 沈阳
  li.original(data-city="141") 大连
  li.original(style="margin-left:15px;",data-city="1095") 陕西
  li.original(data-city="1167") 新疆
  li.original(data-city="625") 河南
  li.original(data-city="382") 安徽
  li.original(data-city="1036") 贵州
  li.original(data-city="1046") 云南
  li.original(data-city="169") 吉林
  li.original(data-city="697") 黑龙江
  li.original(data-city="678") 内蒙古
  li.original(data-city="1124") 甘肃
  li.original(data-city="1145") 青海
  li.original(data-city="725") 湖北
  li.original(data-city="957") 海南
  li.original(data-city="421") 福建