.sidenav
  .first
  ul.clearfix
    li
      a(href='#wraper00') 活动简介
    li
      a(href='#city-nav-back') 出发地
    li
      a(href='#wraper01') 99元特惠
    li
      a(href='#wraper02') 2000元-4000元（含）
    li
      a(href='#wraper03') 4000元-8000元（含）
    li
      a(href='#wraper04') 8000元以上
    li
      a(href='#wraper06') 活动规则
    li(style="background-image: none;")
      a(href='#wraper07') 游记攻略






















