ul.city-nav-bank.clearfix#city-nav-back
  li.original 北京
  li.original 上海
  li.original 广东
  li.original 江苏
  li.original 浙江
  li.original 山东
  li.original 新疆
  li.original 陕西
  li.original 湖南
  li.original 江西
  li.original 河北
  li.original 天津