ul.con.jchdCon.clearfix
  li
    a(href='http://activity.aoyou.com/unionpay/', target='_blank')
      img(src=publicsrc+'images/ad1.png')
  li
    a(href='http://activity.aoyou.com/hd/payh/', target='_blank')
      img(src=publicsrc+'images/ad2.png')
  li(style="padding-right:0;")
    a(href='http://www.aoyou.com/search/b1-l6108-sb2/', target='_blank')
      img(src=publicsrc+'images/ad3.png')
