ul.city-nav-bank.clearfix#city-nav-back
  li.original(data-city="1") 北京
  li.original(data-city="210") 上海
  li.original(data-city="222") 南京
  li.original(data-city="838") 广东
  li.original(data-city="11") 天津
  li.original(data-city="110") 大连
  li.original(data-city="625") 河南
  li.original(data-city="1410") 济南
  li.original(data-city="161") 江西
  li.original(data-city="1442") 青岛
  li.original(data-city="1095") 陕西
  li.original(data-city="1167") 新疆
  li.original(data-city="301") 浙江
  li.original(data-city="1183") 重庆
  li.original(data-city="138") 沈阳
  li.original(data-city="102") 山西