.side-nav
  .first
  ul.clearfix
    li
      a(href='#wrapper01') 超值尾单
    li.li2
      a(href='#wrapper02') 爆款海岛
    li
      a(href='#wrapper03') 爆款欧洲
    li.li2
      a(href='#wrapper04') 爆款美洲
    li
      a(href='#wrapper05') 爆款澳新
    li.li2
      a(href='#wrapper06') 爆款中东非
    li
      a(href='#wrapper07') 超爆款日本
    li.li2
      a(href='#wrapper08') 爆款东南亚
    li
      a(href='#wrapper09') 爆款港澳台
    li.li2
      a(href='#wrapper10',style="font-size: 12px") 爆款CLUBMED
    li.ewm
    li.goTop
      a(href='#body')











