.tab.clearfix
  li.on(data-titleid="6674", data-href="") 日韩
  li(data-titleid="6675", data-href="") 欧美
  li(data-titleid="6676", data-href="") 东南亚
  li(data-titleid="6677", data-href="") 澳非
  li(data-titleid="6678", data-href="") 海岛
  li(data-titleid="6679", data-href="") 港澳台
  li(data-titleid="6680", data-href="", style="margin-right: 0px;") 国内


.tab.clearfix
  li.on(data-titleid="6674",data-href="") 1
  li(data-titleid="6675", data-href="") 2
  li(data-titleid="6676", data-href="") 3
  li(data-titleid="6677", data-href="") 4
  li(data-titleid="6680", data-href="", style="margin-right: 0px;") 5
.tabCon-box
  .tabCon.tabCon01
  .tabCon.tabCon02
  .tabCon.tabCon03
  .tabCon.tabCon04
  .tabCon.tabCon05

