.tab.clearfix
  li.on(data-titleid="6674",data-href="http://www.aoyou.com/search/b1-l3580/") 日韩
  li(data-titleid="6675",data-href="http://www.aoyou.com/search/b1-l11/") 欧美
  li(data-titleid="6676",data-href="http://www.aoyou.com/search/b1-l275/") 东南亚
  li(data-titleid="6677",data-href="http://www.aoyou.com/search/b1-l8/") 澳非
  li(data-titleid="6678",data-href="http://www.aoyou.com/search/b1-k%E6%B5%B7%E5%B2%9B/") 海岛
  li(data-titleid="6679",data-href="http://www.aoyou.com/search/b1-l121/") 港澳台
  li(style="margin-right: 0px;float: right;",data-titleid="6680",data-href="http://www.aoyou.com/search/b1-l277/") 国内