ul.con.jchdCon.clearfix
  li
    a(href='http://activity.aoyou.com/hd/gdyhyozdf/', target='_blank')
      img(src=publicsrc+'images/pic-suprise1.jpg')
  li
    a(href='http://hd.aoyou.com/shuqi/', target='_blank')
      img(src=publicsrc+'images/pic-suprise2.jpg')
  li(style="padding-right:0;")
    a(href='http://activity.aoyou.com/hd/zgyhyh/', target='_blank')
      img(src=publicsrc+'images/pic-suprise3.jpg')
