-var bannerNum = 5;
.banner-box
  - for (var x = 1; x <= bannerNum; x++)
    .banner(class='banner'+x)
  //p.text_p 海岛大玩家  去你的海岛 遇见真正的自己  海岛大玩家  百变海玩法 选择海岛大玩家的理由 7＊4小时贴心服务 优质航空精品酒店 百万家庭旅行首选 精选线路与众不同 专业团队省时贴心 365天优惠不停歇