.wraper
  .mswraper.wid
    .main.ms
      .tit
        img(src="./images/mstit.png")
      .con
        ul.datatab.clearfix
          li(data-titleid="7456",style="border-radius: 10px 0 10px 0;") 星期一
            span
          li(data-titleid="7457") 星期二
            span
          li(data-titleid="7458") 星期三
            span
          li(data-titleid="7459") 星期四
            span
          li(data-titleid="7460") 星期五
            span
          li(data-titleid="7461") 星期六
            span
          li(data-titleid="7462",style="margin-right:0;width: 136px; border-radius: 0 10px 0 10px;") 星期日
        ul.clearfix#mscon