.slider
  ul#slider-con.slider-con.clearfix
    //li
    //  img(src="images/banner01.jpg")
    //li
    //  img(src="images/banner02.jpg")
    //li
    //  img(src="images/banner03.jpg")
    //li
    //  img(src="images/banner04.jpg")
  ul#slider-list.slider-list.clearfix