.city-nav(style="display:none;visibility: hidden;")
  .main.clearfix
    span.smallinfo 出发目的地
    a(href='index.html').on 北京
    a() 天津
    a() 太原
    a() 杭州
    a() 西安
    a() 成都
    a() 广州
    a() 石家庄