.side-nav
  ul.clearfix
    li
      a(href='#wraper01')
    li
      a(href='#wraper02')
    li
      a(href='#wraper03')
    li
      a(href='#wraper04')
    li
      a(href='#wraper05')
    li
      a(href='#wraper06')
    li.gotop
      a(href='#body')











